header {
  background-color: #444857;
  min-height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.str-chat.messaging {
  background-color: #3C84FF;
  max-height: 90vh;
}
